body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.page{
    margin: 0 auto;
    
    background-color: white;
}
*{
    box-sizing: border-box;
}
/* header-top */
.header-top{
    
    background-color: #000000;
    padding: 10px;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
}
.time{
    color: white;
    font-size: 12px;
    padding-left: 50px;
}
.nav-link a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.link:hover{
    color: blue;
    transition: color 0.2s linear;
}
.re-language a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: blue;
}
.re-language{
    padding: 0px 50px 0px 0px;
}
/* header */
.header{
   
    padding: 20px 0px 20px 50px;
    background-color: white;
    box-shadow: -10px 5px 20px #ccc;
    
}
.container{
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    width: auto;
}
.hamburger-menu{
    position: relative;
    width: 50px;
    top: -19px;
}
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
.logo{
    display: block;
    margin: 0px 0px 0px 20px;
}
.meta-form{
    margin: 0px 100px 0px 200px;
}
.input{
    padding: 10px 10px 10px 50px;
    width: 500px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: rgb(236, 236, 236);
    font-size: 18px;
    font-weight: 100;
}
.input:focus{
    outline:  1px solid blue;
}
.btn{
    margin: 0px 0px 0px 10px;
  padding: 13px 18px; 
  border-radius: 20px;
  width: 100px; 
  outline: none;
  border: 0;
  background-color: yellow;
  font-weight: 700;
}
.btn{
    cursor: pointer;
}
/* help */
.help{
    margin: 20px auto;
    width: 600px;
    background-color: rgb(3, 3, 51);
    padding: 15px;
    border-radius: 10px;
}
.help-title{
    margin: 0;
    color: white;
    font-size: 15px;
    text-align: center;
}
/* main */
.main{
    display: flex;
    width: 1340px;
    margin: 0 auto;
}
.aside{
    flex-basis: 20%;
}
/* form */

.form-login{
    margin: 0px 0px 0px 40px;
    padding: 10px 20px 0px 20px;
    border: 1px solid #ccc;
    border-radius: 5% 5% 0% 0%;
    width: 280px;
    box-shadow: 1px 1px 10px #ccc, 1px 1px 10px #ccc;
}
.forms-title{
    color: black;
    margin: 0px 0px 15px 0px;
    font-size: 16px;
}
.input-form{
    margin: 0px 0px 15px 0px;
}
.forms-input{
    width: 235px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    outline: 1px solid #ccc;
    background-color: rgb(252, 246, 246);
}
.forms-input:focus{
    border: 0;
    outline: 1px solid blue;
}
.input-form-a{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-reset{
    display: inline-block;
    margin: 0px 0px 15px 0px;
    text-decoration: none;
    color: rgb(0, 110, 255);
    font-weight: 700;
    font-size: 14px;
}
.form-reset:hover{
    color:rgb(3, 3, 51);
    transition: color 0.2s linear;
}
.btn-form{
    width: 235px;
    padding: 8px 20px;
    border-radius: 15px;
    font-size: 18px;
    border: 0;
    background-color:   rgb(0, 110, 255);
    color: white;
    opacity: 0.7;
}
.btn-form:hover{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s linear;
}
.create-post{
    margin: 0px 0px 0px 40px;
    text-align: center;
    padding: 15px 0px;
    border: 1px solid #ccc;
    width: 280px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(252, 246, 246);
    box-shadow: 1px 1px 10px #ccc;
}
.new-post{
    text-decoration: none;
    color: rgb(0, 110, 255);
    font-weight: 700;
   

}


.news{
    flex-basis: 60%;
    padding: 30px;
}
.news-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.title-news{
    margin: 0;
    color: black;
}
.link-news a{
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 0px 15px;
    color: black;
    font-weight: 700;
    font-size: 13px;
}
.link-news a:hover{
    color: rgb(0, 110, 255);
}




.projects{
    flex-basis: 20%;
}

